[flake8]
max-line-length = 100
extend-ignore =
    # Allow whitespace before ':' (incompatible with black)
    E203,

    # Allow missing docstrings in
    # modules
    D100, 
    # packages
    D104, 
    # magic methods
    D105, 
    # __init__
    D107, 

    # Allow newline after docstring
    D202,

    # Disable too opiniated style checks
    D401,
    E731,
    # Allow mentioning implicit Exceptions
    DAR402,
    # Allow 'TODO' as keyword
    T101


per-file-ignores =
    test_*:D,B011
    eurocropsmeta/algorithms/__init__.py:F401    

# darglint docstring options
docstring_style=google
# Don't check docstrings without param/raises/return fields.
strictness=long
